fastavro==0.22.3
requests
faust

# Code quality
# ------------------------------------------------------------------------------
black
autoflake
flake8
mypy
isort

# Testing
# ------------------------------------------------------------------------------
pytest
pytest-mock
faker

# Docs
# ------------------------------------------------------------------------------
mkdocs
mkdocs-material

# Coverage
#-------------------------------------------------------------------------------
codecov
pytest-cov
