fastavro==0.22.3
requests==2.22.0
faust>=1.7.0

# Code quality
# ------------------------------------------------------------------------------
black==19.3b0
flake8==3.7.6

# Testing
# ------------------------------------------------------------------------------
mypy==0.701
pytest==4.4.1
pytest-mock==1.10.4
faker==1.0.7

# Docs
# ------------------------------------------------------------------------------
mkdocs
mkdocs-material

# Coverage
#-------------------------------------------------------------------------------
codecov>=1.4.0
pytest-cov==2.7.1
