# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: ["master", "release/v3"]
  pull_request:
    branches: ["master", "release/v3"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Run docker-compose
      uses: hoverkraft-tech/compose-action@v2.0.1
      with:
        compose-file: "docker-compose.yaml"
    
    - name: Build and test
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        PYTHON_VERSION: ${{ matrix.python-version }}
      run: |
        python -m pip install -U pip poetry
        poetry install --all-extras
        ./scripts/test
